a {
    text-decoration: none;
    color: #f18a6b;
  }
  
  a:hover {
    color: #822179;
    text-decoration: none;
  }

  .mainContent {
    padding: 25px 25px;
  }
  
  @media only screen and (min-width: 768px) {
    .mainContent {
      padding: 0 50px;
    }
  }
  
  .map {
    padding: 0 11px 50px;
  }
  
  @media only screen and (min-width: 768px) {
    .map {
      padding: 0;
    }
  }
  
  #map {
    width: 100%;
    height: 375px;
  }
  
.estudiante {
    background: #444444;
    padding: 60px 0;
    position: relative;
    color: #ffffff;
  }
  
  .estudiante ul {
    text-align: left;
    list-style: none;
  }
  
  
  .estudiante .container {
    position: relative;
    z-index: 10;
  }
  
  .estudiante .member {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
  }
  
  .estudiante .member .pic {
    overflow: hidden;
  }
  .estudiante .member .pic img {
    max-width: 60%;
  }
  
  .estudiante .member .member-info {
    position: absolute;
    bottom: -80px;
    left: 20px;
    right: 20px;
    background: #fff;
    padding: 20px 0;
    color: #433f39;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }
  
  .estudiante .member h4 {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 16px;
    color: #6c665c;
    position: relative;
    padding-bottom: 10px;
    font-family: "Poppins", sans-serif;
  }
  
  .estudiante .member h4::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #822179;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .estudiante .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
  }
  
  @media (max-width: 992px) {
    .estudiante .member {
      margin-bottom: 110px;
    }
  }
  
  @media (min-width: 1024px) {
    .estudiante {
      background-attachment: fixed;
    }
  }